body {
  margin: 0;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0 auto;
}

.top-section {
  background-color: #e3e3e3;
  position: relative;
  padding-top: 100px;
}

.middle-section {
  background-color: #fc5185;
  border: black;
  width: 200px;
  height: 200px;
}

.bottom-section {
  background-color: #364f6b;
  width: 200px;
  height: 200px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
